{% extends "main.html" %} {% block content %}
<div id="new-item">
    <div class="card col-md-8">
        <div class="row card-header card-primary">
            <h2>New Item</h2>
        </div>
        <div class="row">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" maxlength="100" name="name">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" maxlength="250" name="description">
                    <label for="category_id">Category:</label>
                    <select class="form-control" name="category_id">
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                    <div class="padding-bottom"></div>
                    <button type="submit" class="btn btn-default" id="submit" type="submit">
                                <i class="fa fa-plus" aria-hidden="true"></i> Create
                            </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}