{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div id="catagories">
        <h2>Categories:</h2>
        <ul>
            {% for category in categories %}
            <li>{{category.name}}: {{category.id}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="items">
        <h2>Items:</h2>
        <ul>
            {% for item in items %}
            <li>{{item.name}}: {{item.id}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
